.contact-form{
    background-color: #e4ecec;
    display: flex;
    padding: 10%;
    justify-content: space-evenly;
}

.form-inputs {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.form-inputs > input{
    margin: 5px;
    width:97%;
    padding: 5px;
}

.contact-text{
    text-align: center;
    margin-top: 30px;
}

.first-field{
    margin-top: 30px;
}

.form-inputs .action-button{
    background-color: #095f73; ;
    margin-top:30px;
    margin-bottom: 30px;
}