.contact-form{
    background-color: #e4ecec;
    display: flex;
    justify-content: space-evenly;
}

.contact-text{
    text-align: center;
    margin-top: 30px;
}

.first-field{
    margin-top: 30px;
}

.button-form{
    margin-bottom: 30px;
}